*.zip
*.s
*.a
*project
*.swp
*.pyc
*.o
*.out
*.warn
*.expected
book-ex
p0_basichw3
p0_register_alloc
p0_rule3
p0_stackhw3
p0_testadv
p0_testassign
p0_testinput
p0_testlong
p0_testmath
parse_comment_middle
parse_comments
parse_nl_eof
parse_no_eol_at_eof
parse_notes0
parse_precedence
ex1.1_tc1
ex1.1_tc10
ex1.1_tc11
ex1.1_tc12
ex1.1_tc13
ex1.1_tc14
ex1.1_tc15
ex1.1_tc17
ex1.1_tc18
ex1.1_tc2
ex1.1_tc20
ex1.1_tc3
ex1.1_tc4
ex1.1_tc5
ex1.1_tc6
ex1.1_tc7
ex1.1_tc8
ex1.1_tc9
add_0
add_1
add_2
add_3
assign_lhs_stack
assign_lhs_stack2
big_neg
discard
discard2
input_0
input_1
input_2
move_0
move_id
neg_0
neg_add_0
notes0
print0
reg_alloc_0
spill
t5
test0
test0b
test1
test2
test3
usub_0
usub_1
var_0
var_1
ifexp7
not1
or1
bool1
list0
ifexp1
cmp0
ifexp3
and0
not0
list7
ifexp0
ifexp2
list5
list2
assign0
or0
bool0
input0
ifexp6
eq0
list1
list3
list4
neq0
dict0
dict1
eq1
ifexp4
ifexp5
is0
list6
compile.log
parsetab.py
